.comment-errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #f00;
}

.comments-container {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  min-height: 100px;
  width: 100%;
  text-align: center;
}

.comments-container > h1 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.comments-container strong {
  font-size: 16px;
}

.comments-container > ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.comments-li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px auto 10px auto;
  padding: 20px 0px;
  width: 66.66%;
  border: 1px solid #1a1a1a;
  background-color: #1a1a1a;
  border-radius: 5px;
  white-space: pre-line;
  line-height: 1.25;
}

.comments-li > h1 {
  color: rgb(194, 194, 194);
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.comments-li > p {
  margin-left: 20px;
  margin-right: 20px;
}

.comment-form {
  position: relative;
  margin: 25px auto 20px auto;
}

.comment-form > textarea {
  width: 66.66%;
  height: auto;
  padding: 10px;
  color: #fff;
  border: 1px solid #1a1a1a;
  background-color: #444;
}

.comment-form textarea:hover {
  cursor: pointer;
  border: 1px solid rgb(92, 92, 92);
}

.comment-form > input {
  background-color: #444;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: 700;
}

.comment-form input:hover {
  cursor: pointer;
  filter: brightness(80%);
  transition: filter 0.1s ease;
}

.delete-comment {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 7px;
  right: 10px;
}

.delete-comment:hover {
  cursor: pointer;
  color: #f00;
  transition: color 0.1s ease;
}

.edit-comment {
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 7px;
  right: 30px;
}

.edit-comment:hover {
  cursor: pointer;
  filter: brightness(70%);
  transition: filter 0.1s ease;
}

.edit-comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-comment-form > textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px;
  background-color: rgb(92, 92, 92);
  color: #fff;
}

.edit-comment-form > input {
  background-color: #444;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: 700;
}

.edit-comment-form > textarea:hover {
  cursor: pointer;
  border: 1px solid #fff;
}

.edit-comment-form > input:hover {
  cursor: pointer;
  filter: brightness(70%);
  transition: filter 0.1s ease;
}