.artworks-div .fas {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 5px;
  z-index: 3;
  color: #ffd700;
}

.artworks-div .far {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 5px;
  z-index: 3;
  color: white;
}

.artworks-div .far:hover {
  color: #ffd700;
  transition: color 0.1s ease;
  cursor: pointer;
}

.artworks-div .fas:hover {
  cursor: pointer;
}

.artwork-div .fa-star {
  position: absolute;
  font-size: 20px;
}

.artworks-like {
  margin-top: 10%;
  margin-left: 1%;
  display: flex;
  justify-content: space-between;
  width: 30%;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.artworks-like strong {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.artworks-like .fa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artworks-like .fa:hover i,
.artworks-like .fa:hover strong {
  cursor: pointer;
  color: #ffd700;
  transition: color 0.1s ease;
}

.artworks-like .far {
  color: #fff;
}

.artworks-like .fas {
  color: #ffd700;
}