body {
  background-color: #0e0f0e;
  min-width: 600px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: transparent;
  padding: 15px 0px;
  z-index: 3;
  position: absolute;
  width: 100%;
  min-width: 600px;
  top: 0px;
}

.header-title {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-shadow: 1px 1px 3px #00f;
  margin-left: 20px;
}

.header-title:hover {
  cursor: pointer;
}

.github {
  text-decoration: none;
}

.github:hover {
  cursor: pointer;
}

.fa-github {
  font-size: 30px;
  color: #fff;
}

/* Login, Signup, Signout, Dashboard Buttons */
.login-signup {
  margin-right: 10px;
}

.header-group {
  display: flex;
  justify-content: center;
}

.session-buttons {
  margin: 40px 15px;
  display: flex;
  padding-left: 5px;
  width: 85%;
  justify-content: space-around;
}

.session-button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0px 10px;
  border: 0;
}

.session-button:hover {
  cursor: pointer;
  filter: brightness(80%);
}

/* Modal */
.session-modal-background {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(1, 1, 1, 0.7);
  z-index: 10;
}

.session-modal-child {
  position: absolute;
  height: auto;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.artwork-modal-background {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(1, 1, 1, 0.95);
  z-index: 10;
}

.artwork-modal-child {
  position: absolute;
  height: 90%;
  width: 90%;
  min-width: 896px;
  min-height: 504px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-modal-background {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(1, 1, 1, 0.95);
  z-index: 10;
}

.video-modal-child {
  position: absolute;
  height: 90%;
  width: 90%;
  min-width: 896px;
  min-width: 504px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comment-modal-background {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(1, 1, 1, 0.9);
  z-index: 10;
}

.comment-modal-child {
  position: absolute;
  height: auto;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-modal {
  position: absolute;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  top: 15px;
  right: 15px;
  font-weight: 700;
  cursor: pointer;
}

/* Login and Signup Form */
.session-form-container {
  height: auto;
  width: 40%;
  margin: 25px auto;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}

.session-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

.session-form > h1 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
  margin-left: 50px;
  text-shadow: 1px 1px 2px #000;
}

.session-form > p {
  font-size: 12px;
  margin-top: -10px;
  margin-left: 50px;
  width: 75%;
}

.session-form strong {
  margin-left: 5px;
  color: #add8e6;
  cursor: pointer;
}

.session-form-fields {
  margin-top: 5px;
  margin-left: 50px;
}

.session-form-fields > input {
  margin-top: 15%;
  outline: 0;
  border: 0;
  line-height: 1.5;
  color: #fff;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 1px solid #000;
  width: 75%;
}

.session-errors {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #f00;
}

.session-errors > li {
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

.session-errors > li:last-child {
  margin-bottom: 40px;
}